
/* MAIN CSS GLOBAL */

/* TIPOGRAFÍA APP */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --primary-color: #8BC53F;
    --primary-color-light: #EFFFD9;
    
    --secondary-color: #c71000ff;
    
    --tertiary-color: #008da0e1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: .79em;
    font-family: 'Poppins', sans-serif;
}
/* -------------------------------------------------------------------- */

/* INIT PAGE */
.init__page {
    background-color: var(--primary-color-light);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Contenedor padre */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}
/* HEADER */
/* Parte fija en casi toda la aplicación */
header {
    height: 20vh;
    margin-bottom: 4rem;
}

/* MAIN */
/* Sección central (la más cambiante) */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    margin: .4rem auto;
    height: 50vh;
}
/* Input general */
.input__form-box {
    margin-bottom: .6rem;
}

/* Botón Siguiente (Componente) */
.btn__box {
    display: flex;
    align-items: center;
    height: 20vh;
}

/* FOOTER */
/* Caja de iconos (Fija en casi toda la aplicación) */
.icon__box {
    height: 10vh;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

/* -------------------------------------------------------------------- */

/* PANTALLA NEVERA */
.stickers__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sticker {
    margin: .2rem;
}


/* PANTALLA MAIN TRES OPCIONES */
.three__options-box {
    display: flex;
    flex-direction: column;
}
