
/* MAIN CSS GLOBAL */

/* TIPOGRAFÍA APP */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --primary-color: #8BC53F;
    --primary-color-light: #EFFFD9;
    --primary-color-light-top: #FCFFF8;

    --box-shadow: #8dc63f40;
    --box-shadow-btn: #8dc63f40;
    --lato-font: 'Lato', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: .79em;
    font-family: 'Poppins', sans-serif;
}


/* CSS GLOBAL */
/* -----------------------------------------------------------CSS GLOBAL */
/* Contenedor padre */
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main {
    margin: 0 auto;
    height: 76vh;
    display: flex;
    flex-direction: column;
}
.bottom__icon-box {
    height: 10vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    box-shadow: 0px -1px 15px var(--box-shadow);
    align-items: center;
}
.btn__next-box {
    align-self: center;
}

/* -------------------------------------------------------INIT PAGE */
/* INIT PAGE */
.init__page {
    background-color: var(--primary-color-light);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .init__logo {
    width: 20rem;
} */
.init__title {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 5rem;
}
.init__title span {
    font-weight: 600;
}



/* ----------------------------------------------------------FRIDGE PAGE */
/* FRIDGE PAGE */
.fridge__header-box {
    width: 100vw;
    height: 20vh;
    padding: 2rem 0;
    text-align: center;
}

.fridge__header-title {
    font-size: 2rem;
}
.fidge__container-box {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.fridge__header-box {
    height: 20vh;
    padding: 2rem 0;
    text-align: center;
}

.painter__box {
    height: 80%;
}
.btn__fridge-box {
    height: 20%;
}
.fridge__main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* .stickers__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
} */

/* .input__box input{
    height: 40px;
    width: 270px;
    border-radius: 30px;
    padding: 8px, 16px, 8px, 16px;
    justify-content: space-between;  
} 
.input__box img {
    width: 58px;
    margin-left: 10px;
}
.input__box{
    display: flex;
    align-items: center;
    width: 300px;

}
.logo {
    width: 64px;
    height: 64px;
    margin-top: 21px;
    margin-bottom: 11px;
}
.text__box h3{
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}

.sticker {
    margin: .2rem;
} */


/* -----------------------------------------------------------SAY NOT PAGE */
/* SAY NOT PAGE */
.say__not-header {
    width: 100vw;
    height: 20vh;
    text-align: center;
}
.say__not-title {
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}
.btn__not-container {
    height: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btn__not-other--box {
    align-self: center;
}
.nav__bar-box {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100vw;
    background-color: var(--primary-color-light-top);
    box-shadow: 0px 2px 2px var(--primary-color);
    margin-bottom: 1.6rem;
}
.back__arrow {
    width: .8rem;
    margin-right: 1rem;
}
.bg__box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.btn__back-box {
    display: flex;
    align-items: center;
}



/*

 */


/* -----------------------------------------------------------JOIN PAGE*/
/* JOIN PAGE */
.join__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.join__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    height: 40%;
}
.nav__bar-box {
    
}
.text__box-join {
    text-align: center;
}
.join__title-header {
    font-size: 1.8rem;
    font-weight: 400;
}
.join__main {
    padding: 0 2rem;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
}
.join__text {
    font-family: var(--lato-font);
    font-size: 1.2rem;
}
.join__cta {
    font-size: 3rem;
    font-weight: 400;
}
.join__footer {
    padding: 2rem 0;
    height: 40%;
    display: flex;
}

.btn__join-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* -----------------------------------------------------------MORE PAGE */
/* MORE PAGE */
.more__page-header {
    width: 100vw;
    height: 20vh;
    text-align: center;
}
/* .advice__text-box {
    margin-top: auto;
}
.advice__text {
    font-size: 1.5rem;
} */



/* -----------------------------------------------------------MAIN PAGE [ /horario ] */
/* MAIN PAGE */
.main__title-box {
    width: 90%;
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    text-align: left;
}

.three__options-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 48rem;
    margin-bottom: 1rem;
    width: 300px;
}

.icon__foodhours {
    width: 7rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.btnCheck {
    background-color: var(--primary-color-light-top);
    /* box-shadow: 0px 2px 2px var(--primary-color); */
    border-radius: 1rem;
    box-shadow: 0px 6px 8px var(--box-shadow-btn)
}

/* Carousel tamaño */
/* .icon__group-food {
    width: 100%;
    height: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
} */

.icon__food {
  
 height: 7rem; 
 margin: 0.4rem;
} 

.slide {
    width: 15px;
    min-width: 5px;
    margin: 40rem
}

.control-arrow {
    color: black;
    background-color: black;
}

.icon__group-food {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vh;
    width: 95vw;
}
.price__selection-box{
    display: flex;
    flex-direction: column;
}
.price__selection{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon__money{
    margin: 10px
}
.icon__time {
    margin:5px;
}

.btn__selection-next img {
    margin-bottom: 3.8rem;
}




/* ----------------------------------------------------------TESTING BORRAR
/* MAIN PAGE */
/* .modal{
    width: 100vw;
    height: 100vh;
}

.modal-content{
    background-color: white;
    width: 50vw;
    height: 50vh;
} */



/* -----------------------------------------------------------PROFILE PAGE */
/* PROFILE PAGE */

.header__profile {
    height: 30vh;
}
.profile__main {
    height: 60vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.edit__profile-box {
    display: flex;
    width: 90%;
}
.btn__edit {
    margin-left: auto;
}


/* -------------------------------------------------------------------- */
/* ICONS SEARCH BAR */
/* .icon__user{
    width: 32px;
    height: 32px;
} */


/* -------------------------------------------------------------------- */
/* BOTON SIGUIENTE */
/* .btn__box-next{
height: 40px;
width: 190px;
} */


/* -------------------------------------------------------------------- */

/* PANTALLA MAIN TRES OPCIONES */
/* .three__options-box {
    display: flex;
    flex-direction: column;
} */





/* test icono */
/* .btnCheck {
    background: #FCFFF8;
    border: 1px solid #8DC63F;
    box-shadow: 0px 4px 2px  rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: .8rem;
} */





/* DECORATION EXTRAS */

