

.btn__not-container {
    
}
.btn__not-box {
    
}
.btn__not {
    width: 7rem;
    margin: .8rem;
    border-radius: 1rem;
}
.btn__not-true {
    box-shadow: 0px 6px 8px var(--box-shadow-btn);
}


